// FONTS:
/* 
font-family: 'Barlow', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'M PLUS 1p', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

h1 {
}