.burger{
	position: absolute;
	top: 50%;
	right: .5rem;
	transform: translate(0, -50%);
	transition: .2s;
	width: 1.875rem;
	height: 1.875rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;

	span {
		display: block;
		width: 30px;
		height: 3px;
		background-color: $color-base;
	}
	
	.line--middle {
		margin: 4px 0;
	}
	// animacja
	&:hover {
		.line--middle {
			transition: .2s;
			margin: 7px 0;
		}
	}
}