.menu__content {
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate(0, 0);
    transition: .3s;
    height: 100vh;
    width: 100%;
    background-color: rgba(64, 70, 84, .9);

    .menu__list{
        background-color: $orange-base;
        width: 75%;
        height: 50%;
        li {
            text-align: center;
        }
    }
}



.header--mobile {
    display: flex;
    flex-direction: column-reverse;
    height: 50%;
    width: 75%;
}